<footer class="footer_area">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="footer_top flex-column">
					<div class="footer_logo">
						<a href="/">
							<img src="img/logo-v3.png" alt="" height="70">
						</a>
						<div class="d-lg-block d-none">
							<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
								<div class="collapse navbar-collapse offset">
									<ul class="nav navbar-nav menu_nav mx-auto">
										<li class="nav-item"><a class="nav-link text-white" href="/">Inicio</a></li>
										<li class="nav-item"><a class="nav-link text-white"
												href="/contacto">Contacto</a></li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
					<div class="footer_social mt-lg-0 mt-4">
						<a href="https://www.linkedin.com/in/jfabiant/" target="_blank"><i class="ti-linkedin"></i></a>
						<a href="https://twitter.com/angelandrectv" target="_blank"><i class="fab fa-twitter"></i></a>
						<a href="https://www.facebook.com/john.fabiantorres.5" target="_blank"><i
								class="ti-facebook"></i></a>
						<a target="_blank"
							href="https://mail.google.com/mail/?view=cm&fs=1&to=john.timoteo@tecsup.edu.pe&su=SUBJECT&body=BODY"><i
								class="ti-google"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row footer_bottom justify-content-center">
			<p class="col-lg-8 col-sm-12 footer-text">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;
				<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
				with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
					target="_blank">Colorlib</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</p>
		</div>
	</div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/stellar.js"></script>
<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="vendors/isotope/isotope-min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/mail-script.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="js/gmaps.min.js"></script>
<script src="js/theme.js"></script>
</body>

</html>