<%- include('./layouts/header') -%>

<!--================ Start Header Area =================-->
<header class="header_area">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a class="navbar-brand logo_h" href="/"><img src="img/logo-v2.png" height="40" alt=""></a>
				<a class="navbar-brand logo_inner_page" href="/"><img src="img/logo2.png" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav">
						<li class="nav-item active"><a class="nav-link" href="/">Inicio</a></li>
						<li class="nav-item"><a class="nav-link" href="/certificados">Certificados</a></li>
						<li class="nav-item"><a class="nav-link" href="/noticias">Noticias</a></li>
						<li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
<!--================ End Header Area =================-->

<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
	<div class="banner_inner">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6">
					<div class="banner_content">
						<h3 style="margin-top: 230px;">Hey hola!</h3>
						<h1 class="text-uppercase">Soy John Timoteo</h1>
						<h5 class="text-uppercase">Desarrollador de Software</h5>
						<div class="social_icons my-5">
							<a href="https://www.linkedin.com/in/jfabiant/" target="_blank"><i
									class="ti-linkedin"></i></a>
							<a href="https://twitter.com/angelandrectv" target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="https://www.facebook.com/john.fabiantorres.5" target="_blank"><i
									class="ti-facebook"></i></a>
							<a target="_blank"
								href="https://mail.google.com/mail/?view=cm&fs=1&to=john.timoteo@tecsup.edu.pe&su=SUBJECT&body=BODY"><i
									class="ti-google"></i></a>
						</div>
						<a class="primary_btn" href="/contacto"><span>Contactar</span></a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="home_right_img">
						<img class="img-fluid" src="img/banner/scientist.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start Statistics Area =================-->
<section class="statistics_area">
	<div class="container">
		<div class="row justify-content-lg-start justify-content-center">
			<div class="col-lg-2 col-md-3">
				<div class="statistics_item">
					<h3><span class="counter">15</span>+</h3>
					<p>Proyectos finalizados</p>
				</div>
			</div>
			<div class="col-lg-2 col-md-3">
				<div class="statistics_item">
					<h3><span class="counter">2</span>+</h3>
					<p>Proyectos en marcha</p>
				</div>
			</div>
			<div class="col-lg-2 col-md-3">
				<div class="statistics_item">
					<h3><span class="counter">9</span>/10</h3>
					<p>Puntuación media obtenida</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ End Statistics Area =================-->

<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
	<div class="container">
		<div class="row justify-content-start align-items-center">
			<div class="col-lg-5">
				<div class="about_img">
					<img class="" src="img/about-us-v2.png" alt="" height="600">
				</div>
			</div>

			<div class="offset-lg-1 col-lg-5">
				<div class="main_title text-left">
					<p class="top_text">Acerca de mi <span></span></p>
					<h2>
						Desarrollo de aplicaciones web <br>
						y moviles
					</h2>
					<p>
						Preprofesional de la carrera de Diseño de Software e Integración de Sistemas del Instituto
						Superior Tecnológico TECSUP.
						Organizado, con rapidez para el aprendizaje y eficiente en entornos dinámicos.
						Capacitado para el desarrollo de aplicaciones web, móvil y escritorio –
						programación en Java, C#, JavaScript y Python. Bases de datos SQL Server,
						Oracle y MongoDB.
					</p>
					<a class="primary_btn" href="/files/JohnTimoteoTorresCV.pdf"><span>Descargar CV</span></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ End About Us Area =================-->

<!--================ Start Features Area =================-->
<section class="services_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="main_title">
					<p class="top_text">Mis servicios <span></span></p>
					<h2>Que servicios te <br>
						ofrezco </h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="service_item">
					<img src="img/services/s4.png" alt="" height="75">
					<h4>Soluciones basadas en la nube</h4>
					<p>Despliegue de servidores y bases de datos en la nube.</p>
					<!-- <a href="#" class="primary_btn2 mt-35">Learn More</a> -->
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="service_item">
					<img src="img/services/s6.png" alt="" height="75">
					<h4>Desarrollo de aplicaciones web</h4>
					<p>Diseño y desarrollo de aplicaciones web a medida.</p>
					<!-- <a href="#" class="primary_btn2 mt-35">Learn More</a> -->
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="service_item">
					<img src="img/services/s5.png" alt="" height="75">
					<h4>Desarrollo de apps móviles</h4>
					<p>Diseño y desarrollo de aplicaciones móviles consumiendo servicios.</p>
					<!-- <a href="#" class="primary_btn2 mt-35">Learn More</a> -->
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ End Features Area =================-->

<!--================ Start Testimonial Area =================-->
<section class="testimonial_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="main_title">
					<p class="top_text">Retroalimentación <span></span></p>
					<h2>Honorables compañeros <br>
						dicen sobre mi </h2>
				</div>
			</div>
		</div>

		<div class="owl-carousel owl-theme testimonial-slider ">
			<div class="testimonial-item">
				<div class="row">
					<div class="col-lg-6">
						<div class="testi-img mb-4 mb-lg-0">
							<img src="img/testimonials/t1.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="testi-right">
							<h4>Wilson Alejandro Quesada Tinco</h4>
							<p><small>Software Developer - Java - JPA - HIBERNATE | Mobile Android - Xamarin |
									NodeJS | Javascript - TypeScript - ES6</small></p>

							<p>Es muy responsable con los proyectos y ordenado al momento de trabajar
								ademas de ser un gran compañero. </p>
							<ul class="star_rating mt-4">
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li class="disable"><span><i class="fas fa-star"></i></span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="testimonial-item">
				<div class="row">
					<div class="col-lg-6">
						<div class="testi-img mb-4 mb-lg-0">
							<img src="img/testimonials/t3.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="testi-right">
							<h4>Jorge Alfredo Flores Bendezú</h4>
							<p><small>Desarrollador FullStack en BOB - Economía Circular</small></p>
							<p>Es enfocado en su trabajo y siempre llega a tiempo a las reuniones de
								trabajo, sabe bastante cosas de su área.</p>
							<ul class="star_rating mt-3">
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="testimonial-item">
				<div class="row">
					<div class="col-lg-6">
						<div class="testi-img mb-4 mb-lg-0">
							<img src="img/testimonials/t2.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="testi-right">
							<h4>Grover Lázaro</h4>
							<p><small>Asesor en desarrollo de nuevos negocios | Programador JavaScript</small></p>

							<p>Es muy metido en las tecnologías de su rama y le gusta mucho lo que
								hace, en el largo tiempo que lo conozco ha demostrado madurez. </p>
							<ul class="star_rating mt-3">
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li class="disable"><span><i class="fas fa-star"></i></span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ End Testimonial Area =================-->

<section class="blog-area section-gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="main_title">
					<p class="top_text">Experiencias <span></span></p>
					<h2>Consulta mis <br>
						trabajos recientes </h2>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-lg-4 col-md-6">
				<div class="single-blog">
					<div class="thumb">
						<img class="img-fluid" src="img/b10.png" alt="">
					</div>
					<div class="short_details">
						<div class="meta-top d-flex">
							<a href='/detalle-proyecto/1'><i class="ti-calendar"></i> 4 de Abril del 2020</a>
						</div>
						<a class="d-block" href="/detalle-proyecto/1">
							<h4>Desarrollador Backend</h4>
						</a>
						<div class="text-wrap">
							<p>
								Diseño e implementación de servicios RPA con la finalidad de
								extraer datos de la plataforma de mayoristas entel Perú automatizando
								el proceso de envio de datos al servicio de análisis empresarial Power BI
								generando un gran ahorro de tiempo para el sector de Business Intelligence.
							</p>
						</div>
						<a href="/detalle-proyecto/1" class="primary_btn2">Ver más</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="single-blog">
					<div class="thumb">
						<img class="img-fluid" src="img/b9.png" alt="">
					</div>
					<div class="short_details">
						<div class="meta-top d-flex">
							<a href="/detalle-proyecto/2"><i class="ti-calendar"></i> 5 de Febrero del 2020</a>
						</div>
						<a class="d-block" href="/detalle-proyecto/2">
							<h4>Desarrollador FullStack</h4>
						</a>
						<div class="text-wrap">
							<p>
								Diseño e implementación de un sistema capaz de evaluar a postulantes para
								puestos de trabajo, automatizando el proceso de pre-selección de candidatos,
								utilizando el framework ReactJS y Spring Boot en Amazon Web Services.
							</p>
						</div>
						<a href="/detalle-proyecto/2" class="primary_btn2">Ver más</a>

					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-blog">
					<div class="thumb">
						<img class="img-fluid" src="img/b7.png" alt="">
					</div>
					<div class="short_details">
						<div class="meta-top d-flex">
							<a href="/detalle-proyecto/3"><i class="ti-calendar"></i> 14 de Marzo del 2019</a>
						</div>
						<a class="d-block" href="/detalle-proyecto/3">
							<h4>Desarrollador Backend</h4>
						</a>
						<div class="text-wrap">
							<p>
								Diseño e implementación de servicios autónomos orientados a la arquitectura
								de microservicios para mejorar elrendimiento y desempeño de aplicativos webs
								y móviles de la empresa, utilizando el entorno NodeJS.
							</p>
						</div>
						<a href="/detalle-proyecto/3" class="primary_btn2">Ver más</a>

					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-blog">
					<div class="thumb">
						<img class="img-fluid" src="img/b8.png" alt="">
					</div>
					<div class="short_details">
						<div class="meta-top d-flex">
							<a href="javascript:;"><i class="ti-calendar"></i> 6 de Agosto del 2019</a>
						</div>
						<a class="d-block" href="javascript:;">
							<h4>Desarrollador Backend</h4>
						</a>
						<div class="text-wrap">
							<p>
								Diseño e implementación de la plataforma e-Learning PlayTec Edu para ofrecer
								clases y juegos virtuales a colegios socios de la empresa, utilizando el entorno
								NodeJS.
							</p>
						</div>
						<a href="/detalle-proyecto/4" class="primary_btn2">Ver más</a>

					</div>
				</div>
			</div>



		</div>
	</div>
</section>

<!--================ Start Brands Area =================-->
<section class="brands-area section_gap_bottom">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="owl-carousel brand-carousel">
					<!-- single-brand -->
					<div class="single-brand-item d-table mb-4">
						<div class="d-table-cell">
							<img src="img/brands/logo6.png" alt="">
						</div>
					</div>
					<!-- single-brand -->
					<div class="single-brand-item d-table">
						<div class="d-table-cell">
							<img src="img/brands/logo7.png" alt="">
						</div>
					</div>
					<!-- single-brand -->
					<div class="single-brand-item d-table">
						<div class="d-table-cell">
							<img src="img/brands/logo8.png" alt="">
						</div>
					</div>
					<!-- single-brand -->
					<div class="single-brand-item d-table">
						<div class="d-table-cell">
							<img src="img/brands/logo9.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ End Brands Area =================-->

<%- include('./layouts/footer') -%>